<div class="home-div">
  <div class="container">
    <span>Welcome to</span>
    <h1>Football API</h1>

    <p class="home-p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos eius asperiores <strong>repellendus</strong> unde ea enim quibusdam eveniet eligendi laborum nam dolor ipsa, sint molestiae maiores, dignissimos iste nisi odio, consequatur cupiditate quaerat delectus distinctio laboriosam. Dolores alias accusamus doloribus nesciunt nam, delectus mollitia sunt distinctio, veritatis debitis veniam facere enim?</p>

    <div class="row">
      <div class="col-lg-6">
        <ul class="home-ul">
          <li><strong>Lorem</strong>, ipsum dolor.  </li>
          <li><strong>Deleniti</strong>, magnam perferendis</li>
          <li>
            <strong>Iusto</strong>, unde sit
          </li>
          <li><strong>Est</strong>, officiis ab.</li>
        </ul>
      </div>
      <div class="col-lg-6">
        <img src="./assets/img/ronaldinho-gaucho_15049303_20201025185509-focus-0-0-895-573.jpg" class="home-img img-inv" alt="bike picture background">
      </div>
    </div>


    <p>Lorem ipsum dolor sit amet, <em> consectetur adipisicing elit</em>. Vero eveniet dolor molestiae nesciunt, quibusdam rerum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi reiciendis alias sunt, nam facere dicta?</p>
    <p>Lorem ipsum dolor sit amet, <em> consectetur adipisicing elit</em>. Vero eveniet dolor molestiae nesciunt, quibusdam rerum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi reiciendis alias sunt, nam facere dicta?</p>
  </div>
</div>
